<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Testy{% endblock title %}</title>
    {% load static %}
    <link
      rel="shortcut icon"
      href="https://salilesh-bucket.s3.us-east-2.amazonaws.com/title_logo.ico"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'testy/css/base.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    />
    {% comment %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'testy/css/slides.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'testy/css/story_view.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'testy/css/index.css' %}"
    />
    {% endcomment %}
    <style>
      {% block otherCSS %}
      {% endblock otherCSS %}
    </style>
  </head>

  <body>
    {% include 'testy/navbar.html' %}

    <div class="container">
      <div class="row">
        <div class="col-sm-2 float-left">
          {% block left_side %} {% endblock left_side %}
        </div>
        <div class="col-sm-8">
          <h6 class="border-bottom border-gray pb-2 mb-0">
            {% block intro_index %}Recent updates{% endblock %}
          </h6>
          {% block content %} {% endblock content %}
        </div>
        <div class="col-sm-2 float-right">
          {% block right_side %}
          <h3>adss</h3>
          {% endblock right_side %}
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
          $(document).ready(function (event) {
            $('#delete').click(function () {
              return confirm("Are you sure to delete this post?");
            });

        $(".click-reply").click(function(){
          var pk = $(this).attr('value');
          var xyz="toggle-form"+pk;
          $("#"+xyz).toggle(500, function() {
          // Animation complete.
          });
        });

        $(".toggle-reply").click(function(){
           var pk=$(this).attr('value');
           var t="toggle-replies"+pk;
           console.log(pk);
           $("#"+t).toggle("fast");
        });





            $(document).on('click', '#like', function (event) {
              event.preventDefault();


              var pk = $(this).attr('value');
              var likeSection="like-section"+pk;
              $.ajax({
                type: 'POST',
                url: '{% url "like_post" %}',
                data: { 'id': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                dataType: 'json',
                success: function (response) {
                  $('#'+likeSection).html(response['form'])
                  console.log($('#'+likeSection).html(response['form']));
                },
                error: function (rs, e) {
                  console.log(rs.responseText);
                },
              });
            });

            {% comment %}

          $(document).on('click', '#all-likes', function (event) {
              event.preventDefault();
              var pk = $(this).attr('value');
              $.ajax({
                type: 'POST',
                url: '{% url "total_likes" %}',
                data: { 'id': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                dataType: 'json',
                success: function (response) {
                  $('#total-likes').html(response['form']);

                },
                error: function (rs, e) {
                  console.log(rs.responseText);
                },
              });
            });
      {% endcomment %}

            $(document).on('click', '#follow', function (event) {
              event.preventDefault();
              var pk = $(this).attr('value');
              var ajaxLoading=$("#icon"+pk);
              $(this).html(ajaxLoading).show();
              var followSection="follow-section"+pk
              $.ajax({
                type: 'POST',
                url: '{% url "follow_user" %}',
                data: { 'id': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                dataType: 'json',
                success: function (response) {
                  $('#'+ajaxLoading).hide();
                  $('.'+followSection).html(response['form']);

                },
                error: function (rs, e) {
                  console.log(rs.responseText);
                },
              });
            });

            $(document).on('click', '#follow-form', function (event) {
              event.preventDefault();
              var pk = $(this).attr('value');
              $(this).attr('class', 'btn btn-light');
              $(this).html("<img src='https://salilesh-bucket.s3.us-east-2.amazonaws.com/ajax-loader.gif' alt='Loading'>");
              console.log($(this).html());
              var followSection="follow-section"+pk;

              $.ajax({
                type: 'POST',
                url: '{% url "follow_user" %}',
                data: { 'id': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}','just_form':pk,},
                dataType: 'json',
                success: function (response) {
                  $('.'+followSection).html(response['form']);
                },
                error: function (rs, e) {
                  console.log(rs.responseText);
                },
              });
            });


            $(document).on('submit', '.comment-form', function (event) {
              event.preventDefault();
              $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                dataType: 'json',
                success: function (response) {
                  $('.main-comment-section').html(response['form']);
                  $('#id_comment').val('');
                  },

              });
            });


            $(document).on('submit', '.reply-form', function (event) {
              event.preventDefault();
              console.log($(this).serialize());
              $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                dataType: 'json',
                success: function (response) {
                  $('.main-comment-section').html(response['form']);
                  $('id_comment').val('');

                },

              });
            });




            $(document).on('click', '#favourite', function (event) {
              event.preventDefault();
              var pk = $(this).attr('value');
              var favSection="fav-section"+pk
              $.ajax({
                type: 'POST',
                url: '{% url "fav_edit" %}',
                data: { 'id': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                dataType: 'json',
                success: function (response) {
                  $('#'+favSection).html(response['form'])
                  console.log($('#'+favSection).html(response['form']));
                },
                error: function (rs, e) {
                  console.log(rs.responseText);
                },
              });
            });


            $(document).on('click', '#hide', function (event) {
              event.preventDefault();
              var pk = $(this).attr('value');
              var hideShow="hide-show"+pk
              $.ajax({
                type: 'POST',
                url: '{% url "nature_hide" %}',
                data: { 'id': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                dataType: 'json',
                success: function (response) {
                  $('#'+hideShow).html(response['form'])
                  console.log($('#'+hideShow).html(response['form']));
                },
                error: function (rs, e) {
                  console.log(rs.responseText);
                },
              });
            });

            $(document).on('click', '#restrict-allow', function (event) {
              event.preventDefault();
              var pk = $(this).attr('value');
              var restrictAllow="restrictAllow"+pk
              $.ajax({
                type: 'POST',
                url: '{% url "comment_restrict" %}',
                data: { 'id': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}','restrict':pk, },
                dataType: 'json',
                success: function (response) {
                  $('#'+restrictAllow).html(response['form'])
                  console.log($('#'+restrictAllow).html(response['form']));
                },
                error: function (rs, e) {
                  console.log(rs.responseText);
                },
              });
            });


            $(document).on('click', '#private-public', function (event) {
              event.preventDefault();
              var pk = $(this).attr('value');
              var privatePublic="privatePublic"+pk
              $.ajax({
                type: 'POST',
                url: '{% url "private_public" %}',
                data: { 'id': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}', },
                dataType: 'json',
                success: function (response) {
                  $('#'+privatePublic).html(response['form'])
                  console.log($('#'+privatePublic).html(response['form']));
                },
                error: function (rs, e) {
                  console.log(rs.responseText);
                },
              });
            });




            $(document).on('submit', '.accept-form', function (event) {
              event.preventDefault();
              var element=$(document.activeElement);
              var pk=element.val();
              var choice=element.attr('name');
              var acceptDecline="accept-decline"+pk;

              $.ajax({
                type: 'POST',
                url: '{% url 'accept_follower' %}',
                data: $(this).serialize()+"&choice="+choice,
                dataType: 'json',
                success: function (response) {
                    $("#"+acceptDecline).parents(".note").fadeOut(300, function(){ $(this).remove();});
                  },

              });
            });


          {% block otherJs %}

          {% endblock otherJs %}


          });
          {% block plainJS %}

          {% endblock plainJS %}
    </script>
    <!--  <script src="{% static 'testy/js/profile_view.js' %}"></script>
  <script src="{% static 'testy/js/slides.js' %}"></script> -->
  </body>
</html>
