{% load humanize %}
<a href="{% url 'total_comments' nature.id %}" name="comments">
  <p><span class="badge">{{ nature.comments_set.count }} </span> Comment{{ comments|pluralize }}</p>
</a>

{% include 'testy/comment_form.html' %}
{% for comment in comments %}
<div class="media">
  <a class="mr-3" href="{% url 'profile_view' comment.user.username %}">
    <img src="{{ comment.user.profile.image.url }}" style="height:40px ;width:40px;" class="rounded-circle mr-3"
      alt="img.">
    <div class="media-body">
      <b>
        <h5 class="mt-0 mb-1">@{{ comment.user.username }} </h5>
      </b>
  </a>

  <div id="updated-comment-section{{ comment.id }}">
    {% include 'testy/update.html' %}
  </div>

  <p>{{ comment.comment }}</p>

  {% include "testy/cmnt_reply_form.html" %}

<div style="display:none;" id="toggle-replies{{ comment.id }}">

  {% for reply in comment.replies.all %}
  <div class="media mt-3">
    <a class="mr-3" href="{% url 'profile_view' reply.user.username %}">
      <img src="{{ reply.user.profile.image.url }}" style="height:40px; width:40px;" class="rounded-circle mr-3"
        alt="img">
      <div class="media-body">
        <b>
          <h5 class="mt-0 mb-1">@{{ reply.user.username }}</h5>
        </b>
    </a>

    <div id="updated-comment-section{{ reply.id }}">
      {% include 'testy/update.html' %}
    </div>

    <p>
      {{ reply.comment }}
    </p>

    {% include "testy/cmnt_reply_form.html" %}

  </div><!-- media body for reply -->

</div>
{% endfor %}
</div>


</div><!-- media body ends here -->
</div>
<hr>
{% endfor%}