{% extends 'testy/base.html' %}
{% load humanize %}
{% block content %}
{% if messages %}
<div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important:
    {% endif %}

    {% endfor %}
</div>
{% endif %}

{% for nature in favourite_posts %}
<h6>
    <a href="{% url 'profile_view' nature.user.username %}">
        <img class="rounded-circle" width="30" height="30" src="{{ nature.user.profile.image.url }}" alt="i">
        <strong>@{{ nature.user.username }}</strong>
    </a>
</h6>
<a href="{% url 'nature_detail' nature.id %}">
{% include "testy/carousel.html" %}
</a>
<br>

<div id="fav-section{{ nature.id }}">
{% include 'testy/fav_section.html' %}
</div>

<br><hr>
{% empty %}
<h3>You haven't added any post to favourite lists.<h3>
{% endfor %}


{% endblock content %}