{% extends 'testy/base.html' %}
{% block content %}
<div class="follower-list">


<a class="btn btn-primary" data-toggle="collapse" href="#flwrs" role="button" aria-expanded="false" aria-controls="flwrs">Followers</a>
<a class="btn btn-primary" data-toggle="collapse" href="#flwg" role="button" aria-expanded="false" aria-controls="flwg">Following</a>

<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="flwrs">
      <div class="card card-body">
       {% for user,is_following in followers_list.items %}
          <div class="row">
        <a href="{% url 'profile_view' user.username %}">
            <img src={{ user.profile.image.url }} class="rounded-circle" width="45" height="45">
            <b>@{{ user.username}}</b>
        </a>
        
          {% include "testy/follow_form.html" %}
        </div>
        <br><br>
        {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col">
    <div class="collapse multi-collapse" id="flwg">
      <div class="card card-body">
        
     {% for user,is_following in following_list.items %}
      <div class="row">
        <a href="{% url 'profile_view' user.username %}">
            <img src={{ user.profile.image.url }} class="rounded-circle" width="45" height="45">
            <b>@{{ user.username }}</b>
        </a>
        {% include "testy/follow_form.html" %}
      
      </div>

        <br><br>
        {% if not forloop.last %}<hr>{% endif %}

      {% endfor %}


      </div>
    </div>
  </div>
</div>

</div>
{% endblock content %}

