{% extends 'testy/base.html' %}
{% load humanize %}
{% block content %}
{% if messages %}
<div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important:
    {% endif %}

    {% endfor %}
</div>
{% endif %}
{% comment %} 
{% include 'testy/story_view.html' %}
 {% endcomment %}
{% for nature,tuple in natures_context.items %}
<h6>
    <a href="{% url 'profile_view' nature.user.username %}">
        <img class="rounded-circle" width="40" height="40" src="{{ nature.user.profile.image.url }}" alt="i">
        <strong>@{{ nature.user.username }}</strong>
    </a>
    {% include 'testy/update_menu.html' %}
</h6>
<a href="{% url 'nature_detail' nature.id %}">
{% include 'testy/carousel.html' %}
</a>
{% include 'testy/like_comment.html' %}

{% endfor %}

{% if not natures_context %}
<h3>Follow People to view thier posts.</h3>
{% endif %}
{% endblock content %}