<form action="." method="POST">
    {% csrf_token %}
    {% if is_liked or tuple.0 %}
    <button type="submit" class="btn btn-info" id="like" name="tweet_id" value="{{ nature.id }}">Dis Like</button>
    {% elif is_liked == False or tuple.0 == False %}
    <button type="submit" class="btn btn-primary" id="like" name="tweet_id" value="{{ nature.id }}">Like</button>
    {% endif %}
</form>
<a href="{% url 'total_likes' nature.id %}">

{% if not total_likes %}

{{ nature.total_likes }}like{{ nature.total_likes|pluralize }}
{% else %}
{{ total_likes }} like{{ total_likes|pluralize }}

{% endif %}


</a>