{% extends 'testy/base.html' %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}


    <a href="{% url 'profile_view' nature.user.username %}">
        <img class="fluid rounded-circle" width="40" height="40" src="{{ nature.user.profile.image.url }}" alt="i" />
        <h5><strong>@{{ nature.user.username }}</strong></h5>
    </a>
    {% include 'testy/update_menu.html'%}


{% include 'testy/carousel.html' %} {% comment %} photo about controls i.e.
carousel {% endcomment %}
<br>

{% include 'testy/like_comment.html' %} {% comment %} like cmnt fav {% endcomment %}
{% if nature.restrict_comment == False %}

<div class="comment-section">
    {% include 'testy/comments.html' %}
</div>

{% endif %}
{% endblock content %}

{% block otherCSS %}

{% endblock otherCSS %}
{% block plainJS %}

{% comment %} var input = document.getElementById("id_comment");

input.addEventListener("keyup", function(event) {
  
  if (event.keyCode === 13) {
    
    event.preventDefault();
    
    document.getElementById("comment-btn").click();
  }
}); {% endcomment %}
{% endblock plainJS %}

{% block otherJs %}

    $(".click-reply").click(function(){
      var pk = $(this).attr('value');
      var xyz="toggle-form"+pk;
      $("#"+xyz).toggle(500, function() {
      // Animation complete.
      });
    });    $(".toggle-reply").click(function(){
       var pk=$(this).attr('value');
       var t="toggle-replies"+pk;
       console.log(pk);
       $("#"+t).toggle("fast");
    });

        
    $(document).on('submit', '.comment-form', function (event) {
      event.preventDefault();
      $.ajax({
        type: 'POST',
        url: $(this).attr('action'),
        data: $(this).serialize(),
        dataType: 'json',
        success: function (response) {
          $('.main-comment-section').html(response['form']);
          $('#id_comment').val('');
          }
      });
    })

    $(document).on('submit', '.reply-form', function (event) {
      event.preventDefault();
      console.log($(this).serialize());
      $.ajax({
        type: 'POST',
        url: $(this).attr('action'),
        data: $(this).serialize(),
        dataType: 'json',
        success: function (response) {
          $('.main-comment-section').html(response['form']);
          $('id_comment').val('')
        }
      });
    });



{% endblock otherJs %}