{% extends 'testy/base.html' %}
{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-info" role="alert">
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% if request.user == post.user %}
<a href={% url 'nature_update' pk=post.id %} role="button" class="btn btn-primary">Edit Tweet</a>
<a href={% url 'nature_delete' pk=post.id %} role="button" class="btn btn-danger">Delete Tweet</a>
{% endif %}
<h6>
    <a href="{% url 'profile_view' nature.user.username %}">
        <img class="img-index-profile" width="10" height="10" src="{{ nature.user.profile.image.url }}" alt="i">
        <strong>@{{ nature.user.username }}</strong>
    </a>
</h6>
<div id="{{ nature.id }}" class="carousel slide" data-ride="carousel">
{% if nature.media.all.count > 1%}
  <ol class="carousel-indicators">
  {% for num in nature.media.all %}
  {% if forloop.counter0 == 0 %}
    <li data-target="#{{ nature.id }}" data-slide-to="0" class="active"></li>
   {% else %}
    <li data-target="#{{ nature.id }}" data-slide-to="{{ forloop.counter0 }}"></li>
  {% endif %}
  {% endfor %}
  </ol>
{% endif %}
<div class="carousel-inner">
{% for media in nature.media.all %}
{% if forloop.counter0 == 0 %}
    <div class="carousel-item active">
{% else %}
    <div class="carousel-item">
{% endif %}
    {% if media.is_photo %}
      <img class="d-block w-100"  src="{{ media.photo.url }}" alt="First slide">
    {% endif %}
    
    <div class="carousel-caption d-none d-md-block">
        <p>{{ media.about }}</p>
    </div>
    </div>

{% endfor %}
</div>
{% if not nature.media.all.count == 1 %}
  <a class="carousel-control-prev" href="#{{ nature.id }}" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#{{ nature.id }}" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
{% endif %}
</div>

<div class="row">
    <div class="col-sm-6" id="like-section{{ nature.id }}">
        {% include 'testy/like_section.html' %}
    </div>
</div>
<div class="row">
    <div class="main-comment-section">
        {% include 'testy/comments.html' %}
    </div>
</div>
{% endblock content %}
     

     