{% extends 'testy/base.html' %}
{% block title %}

Notifications/{{ request.user.username|capfirst }}

{% endblock title %}

{% block content %}

{% if messages %}
<div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important:
    {% endif %}

    {{ message }}

    {% endfor %}
</div>
{% endif %}

{% for note in notes %}
{% if note.is_like %}
<a href ="{% url 'nature_detail' note.link %}">
{% elif note.is_comment%}
<a href ="{% url 'nature_detail' note.link %}">
{% elif note.is_follow %}
<a href ="{% url 'followers' request.user.username %}">
{% endif %}
<div class="alert alert-info note" role="alert">
<div class="row">
<div class="col">
<img src={{ note.user.profile.image.url }} height="40" width="40">

{{ note }}

</div>
<div class="col float-right">
{% if note.is_follow_request %}
{% include 'testy/accept_decline.html' %}
{% endif %}
{% if not note.is_follow_request %}
</a>
{% endif %}
</div>

</div>
</div>
{% endfor %}
{% if not notes %}
<div class="alert alert-info" role="alert">
  No notification yet.
</div>

{% endif %}


{% endblock content %}

{% block otherJs %}

$(document).on('submit', '.accept-form', function (event) {
  event.preventDefault();
  var element=$(document.activeElement);
  var pk=element.val();
  var choice=element.attr('name');
  var acceptDecline="accept-decline"+pk;

  $.ajax({
    type: 'POST',
    url: '{% url 'accept_follower' %}',
    data: $(this).serialize()+"&choice="+choice,
    dataType: 'json',
    success: function (response) {
        $("#"+acceptDecline).parents(".note").fadeOut(300, function(){ $(this).remove();});
      },

  });
});

{% endblock otherJs %}
