{% extends "testy/base.html" %}
{% load static %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info" role="alert">
{{ message }}
</div>
{% endfor %}
{% endif %}
<a href="#">
<img class="rounded-circle" height="80" width="80" src={{ user.profile.image.url }}>
</a>
<strong>@{{ user.username }}</strong>
{% if user == request.user %}
<p>
<a href="{% url 'change_profile' %}" role="button" class="btn btn-primary">Change pp</a>
</p>
{% include 'testy/private_account.html' %}
{% endif %}

{% include 'testy/follow.html' %} 

<!-- Header -->
{% if is_private is False %}{% comment %} no posts for pvt ac. {% endcomment %}

{% if user.nature.all %}
{% now "Y" as current_year %}
{% now "b" as current_month %}
{% now "W" as current_week %}
<div class="header" id="myHeader">
  <h1>Natures as per/</h1>
  <a href="{% url 'archive_week' user_id=user.id year=current_year week=current_week %}" role="button" class="btn" onclick="three()"><h3>week</h3></a>
  <a href="{% url 'archive_month' user_id=user.id year=current_year month=current_month %}" role="button" class="btn active" onclick="two()"><h3>month</h3></a>
  <a href="{% url 'nature_year_archive' user_id=user.id year=current_year %}" role="button" class="btn" onclick="one()"><h3>year</h3></button>
</div>

{% endif %}

{% for nature in natures %}
{% if nature.hide_post == True %}
{% if nature.user == request.user %}
<h6>
    <a href="{% url 'profile_view' nature.user.username %}">
        <img class="img-index-profile" width="10" height="10" src="{{ nature.user.profile.image.url }}" alt="i">
        <strong>@{{ nature.user.username }}</strong>
    </a>
</h6>
<a href="{% url 'nature_detail' nature.id %}">

{% include 'testy/carousel.html' %}

</a>
{% endif %}
{% elif nature.hide_post == False %}
<h6>
    <a href="{% url 'profile_view' nature.user.username %}">
        <img class="img-index-profile" width="10" height="10" src="{{ nature.user.profile.image.url }}" alt="i">
        <strong>@{{ nature.user.username }}</strong>
    </a>
</h6>
<a href="{% url 'nature_detail' nature.id %}">

{% include 'testy/carousel.html' %}

</a>
{% endif %}
{% empty %}
{% if user == request.user %}
<h5>You haven't created any post yet.
<a href="{% url 'nature_page' %}">
Add now</h5>
{% else %}
<h5>No posts yet</h5>
{% endif %}

{% endfor %}
<br>
{% endif %}
{% if is_private is True %}
<h5>This account is private.<br>Follow <b>@{{ user.username }}</b> to see posts</h5>
{% endif %}

{% endblock content %}