{% extends 'testy/base.html' %}
{% block title %}
Suggestion/Testy
{% endblock title %}
{% block otherCSS %}

.card{
   min-height: 250px;
     
}
.card-img-top{
  min-height:30px;
  max-height:130px;
}
{% endblock otherCSS %}

{% block intro_index %}{% if idea %}{{ idea }}{% else %}Suggestions{% endif %}{% endblock %}
{% block content %}

  <div class="row">
    {% for user,is_following in users.items %}
    <div class="col">
      <div class="card text-center" style="width: 13rem;">
        <img src={{ user.profile.image.url }} class="card-img-top" alt="{{ user.username }}">
        <div class="card-body">
          <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
          <h6>@{{ user.username }}</h6>
          <p class="card-text">{{ user.bio }}</p>
          {% include "testy/follow_form.html" %}
        </div>
      </div>
    </div>

{% endfor %}
</div>


{% endblock content %}