{% extends 'testy/base.html' %}
{% block content %}
<h3>My Services</h3>
<form action="{% url 'test_on' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  
{{ formset.management_form }}

<div id="form_set">
    {% for form in formset.forms %}
    <div class="parent">
        <div class="form" id="{{ form.prefix }}" style="padding:15px;border-style:solid;border-color:colar;" onfoucs=abc()>
            {{ form.as_p }}           
            {{ form.non_field_errors }}
        {{ form.errors }}
        </div>
      </div>
    {% endfor %}
</div>
</form>
<input type="button" value="Add More" class="add-form" id="addBtn" >
<div id="empty_form" style="padding:15px;border-style:solid;border-color:colar;display:none;">
  <div class="parent">
  <div class="form" id="{{ formset.empty_form.prefix }}">
        {{ formset.empty_form.as_p }}
        <button class="btn btn-danger delete-form" style="float:right;" id="btn-{{ formset.empty_form.prefix }}" value="{{ formset.empty_form.prefix }}">Remove</button>
    </div>
  </div>
</div>
<div class="text-center">
    <input type="submit" value="Test123" class="btn btn-primary">
</div>
  
{% endblock content %}
 
    {% block otherJs %}


      $(document).on('click', '.add-form', function (event) {
        event.preventDefault();
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        
      });
 
   
      
      $(document).on('click', '.delete-form', function (event) {
        event.preventDefault();
        var form_id = $('#id_form-TOTAL_FORMS').val();
        var pk = $(this).attr('value');
          
        $("#"+pk).parent().nextAll().each( function () {
          var arrayId=$(this).children().attr('id').match(/\d+/);
          var oldId=arrayId[0];
          var newId=parseInt(oldId)-1;
          

          var regOld = new RegExp(oldId, "g");
          
          $(this).html($(this).html().replace(regOld,newId)); 
            
  		  
        

        console.log($(this).html());
        
    
        });
           
        $("#"+pk).parent().remove();
        
        
       $('#id_form-TOTAL_FORMS').val(parseInt(form_id) - 1);

      });
  
   





    {% endblock otherJs %}
