.header {
  text-align: center;
  padding: 32px;
}

.row-profile {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column-profile {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column-profile img-media {
  margin-top: 8px;
  vertical-align: middle;
}

/* Style the buttons */
.btn-profile {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn-profile:hover {
  background-color: #ddd;
}

.btn-profile.active {
  background-color: #666;
  color: white;
}
