{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'testy/base.css' %}">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
{% block base_content %}
{% include 'testy/navbar.html' %}


<div class="container ml-5 mt-3">
    <div class="row">
      <div class="col-sm-4 float-left">
      {% block left_sidebar %}
        {% include 'users/left_sidebar.html' %}
      {% endblock left_sidebar %}
      </div>
      <div class="col-sm-8">
        
        {% block center_content %}

        {% endblock center_content %}
      </div>
      
    </div>
 </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function (event) {
      
      $(document).on('click', '#private-public', function (event) {
        event.preventDefault();
        var pk = $(this).attr('value');
        var privatePublic="privatePublic"+pk
        $.ajax({
          type: 'POST',
          url: '{% url "private_public" %}',
          data: { 'id': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}', },
          dataType: 'json',
          success: function (response) {
            $('#'+privatePublic).html(response['form'])
            console.log($('#'+privatePublic).html(response['form']));
          },
          error: function (rs, e) {
            console.log(rs.responseText);
          },
        });
      });

    {% block users_otherJs %}

    {% endblock users_otherJs %}


    });
    {% block users_plainJS %}

    {% endblock users_plainJS %}


  </script>
  {% endblock base_content %}
</body>

</html>