<div id="privatePublic{{ user.id }}">
<form action="." method="POST">
    {% csrf_token %}
    {% if user.profile.private or is_private is True %}
    <button type="submit" class="btn btn-info" id="private-public" name="tweet_id" value="{{ user.id }}">Public account</button>
    {% elif user.profile.private or is_private is False %}
    <button type="submit" class="btn btn-info" id="private-public" name="tweet_id" value="{{ user.id }}">Private account</button>
    {% endif %}
</form>
</div>

<script type="text/javascript">
$(document).ready(function (event) {

    $(document).on('click', '#private-public', function (event) {
      event.preventDefault();
      var pk = $(this).attr('value');
      var privatePublic="privatePublic"+pk
      $.ajax({
        type: 'POST',
        url: '{% url "private_public" %}',
        data: { 'id': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}', },
        dataType: 'json',
        success: function (response) {
          $('#'+privatePublic).html(response['form'])
          console.log($('#'+privatePublic).html(response['form']));
        },
        error: function (rs, e) {
          console.log(rs.responseText);
        },
      });
    });


});
</script>